
.card_body{
    display: flex;
    flex-direction: column;
    width: 30%;
    max-width: 333px;
    background: #FFFFFF;
    justify-content: center;
    align-items: center;
    gap:5px
}

@media screen and (max-width: 4000px) {
    .card_body{
        flex-direction: column;
        text-align: center; 
    }
   
  }
